pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
dill
# -e . #only run -e . once at the last only, we dun wan to keep run and built the package when we wanna pip install a lib during development